* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #body, html {
    height: 100%;
    width: 100%;
  }

  #root{
    height: 100%;
    width: 100%;
  }

  #app-container{
    height: 100%;
    width: 100%;
  }

  #header {
    height: 10%;
  }

  #section {
    height: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  @media (max-width: 1024px) {
        #section {
            height: 75%; /* Adjusted height for tablets */
        }
    }

    @media (max-width: 800px) {
        #section {
            height: 55%; /* Adjusted height for tablets */
        }
    }

    @media (max-width: 650px) {
        #section {
            height: 45%; /* Adjusted height for tablets */
        }
    }

  @media (max-width: 500px) {
        #section {
            height: 35%;
        }
    }

    @media (max-width: 450px) {
        #section {
            height: 30%;
        }
    }

    #main-screen {
      aspect-ratio: 4/3;
      border-radius: 30px;
      border: 8px solid black;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden; /* Ensures content inside does not overflow the container */
  }
  
  #canvas {
      position: absolute;
      pointer-events: none;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
  }

  .social-links {
    width: 30%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 30px;
  }

  

  .column {
    height: 100%;
    width: auto;
  }

  #footer {
    height: auto;
    width: 100%;
  }